.App {
  text-align: center;
  /* background: red; */
  background-image: url(https://www.dukehealth.org/sites/default/files/blog_post/thinkstockphotos-480125956.jpg);
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  min-height:100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav_holder{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: rgba(255,255,255, .0);
  transition: 'background', 5s, ease-in-out;
  
}
.nav_holder > div > a{
  display: flex;
  align-items: center;
}

.nav_holder > div > a :hover{
  background: none;
}

.nav_holder :hover{
background: rgba(255,255,255, .5);
}

.nav{
  font-weight: bold;
  display: flex;
  justify-content: end;
  position:absolute;
  top: 0;
  height: 115px;
  width: 100vw;
  align-items: center;
  z-index: 5;
}

.nav > a{
  margin: 0 10px;
  font-size: 26px;
  text-decoration: none;
}

.homepage{
  /* background: red; */
  /* background-image: url(https://www.dukehealth.org/sites/default/files/blog_post/thinkstockphotos-480125956.jpg);
  background-size: cover;
  width: 100vw;
  height:100vh;
  position:fixed; */
  top: 0;
}

.profile_img{
  min-width: 300px;
  max-width: 400px;
}

.doctor_info{
  display: flex;
  flex-wrap: wrap;
  padding: 75px;
  background: rgba(0, 0, 0, .5);
  border-radius: 25px;
  margin: 0 75px;
}
.doc_text > h1{
  font-size: 2.7em;
  margin-top: 0;

}
.doc_text{
  padding: 0 50px;
  text-align: left;
  color: white;
  text-shadow: 2px 2px black;
  min-width: 300px;
  width: 50%;

}



a{
  transition: transform ease-out 1s;
  color: #2a2179;
}

a:active{
  transform: scale(1.2);
  color: #2a2179;
}

.staff_dropdown{
  background: white;
  position: absolute;
  width: 200px;
  flex-direction: column;
  display: none;
  text-align: left;
  text-decoration: none;
}
.staff_dropdown > a{
  text-decoration: none;
  padding: 10px 10px
}